* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    text-align: center;

    user-select:none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    overflow: hidden;

    position: relative;
    width: 100%;
    min-height: 100vh;
}

img {
    pointer-events: none;
}

.main {
    
}

.col {
    width: 30%; 
    height: 90vh; 
    border: solid 1px #000000;
    margin: 0 5px 0px 5px;
    display: table-cell;
    vertical-align: middle;
}

footer {
    color: white;
    height: 10vh;
    background-color: #222;
}

p.title {
    padding-top: 0.1em;
}

img.ear {
    width: 60%;
    vertical-align:middle;
}