* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    text-align: center;

    user-select:none;
    -ms-user-select: none;
    -webkit-user-select: none;

    overflow: hidden;
    width: 100%;
    height: 100vh;
}

img {
    pointer-events: none;
}

.col {
    position: relative;
    width: 30%; 
    height: 90vh; 
    border: solid 1px #000000;
    margin: 0 5px 0px 5px;
    display: table-cell;
    vertical-align: middle;
}

footer {
    color: white;
    height: 10vh;
    background-color: #222;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -30%);
}

img.ear {
    width: 50%;
    vertical-align:middle;
}

img.knob-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -22%);
    width: 128px;
    height: 128px;
    background-image: url("{{ image_knob_background }}");
    background-repeat:  no-repeat;
    object-fit:none;
}

.input-knob {
    width: 100px!important;
    height: 100px!important;
    border-radius: 50%;
    opacity: 0;
}